@import url("colors.css");

.card {
  perspective: 1000px;
  cursor: pointer;
  background-color: black;
  color: black;
  aspect-ratio: 1 / 1;
  border-radius: 0;
  margin: 0 !important;
  padding: 0 !important;
}

.card-title {
  font-family: 'Kanit', sans-serif;
  text-align: left;
  font-weight: 900;
  font-size: 2rem;
  color: white !important;
}

.card-text {
  color: var(--grey-400);
}

.card-img-top {
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 0;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card-front {
  background-color: black;
  border: 0.3px solid rgba(255, 255, 255, 0.1);
}

.card-back {
  background-color: var(--grey-950);
  color: white;
  transform: rotateY(180deg);
  padding: 1rem;
  border: 0.2rem solid var(--grey-900);
}

section#projects {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 1320px;
  margin: 0 auto;
}

#cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 440px));
  gap: 0;
}

@media (min-width: 768px) {
  section#projects {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (min-width: 1320px) {
  section#projects {
    padding-left: 0;
    padding-right: 0;
  }
  #cards-container {
    grid-template-columns: repeat(3, 440px);
    gap: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
