@import url("colors.css");

.carousel {
  background-color: var(--grey-900);
  overflow: hidden;
  height: 500px;
}

.carousel-inner{
  height: 500px;  
}

.carousel-item {
  height: 100%;
  display: none;
  transition: opacity 0s ease;
  justify-content: center;
  align-items: center;
}

.carousel-item.active {
  display: flex;
}

.carousel-item img {
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  margin: auto;
}

.carousel-wrapper {
  position: relative;
}

.carousel-wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%; /* 1/5 da altura */
  pointer-events: none;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  z-index: 2;
}

.carousel-indicators {
  z-index: 3;
}

.carousel-control-prev,
.carousel-control-next {
  top: 50%;
  transform: translateY(-50%);
  width: 3rem;
  height: 3rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1rem;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg fill='black' viewBox='0 0 8 8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.25 0L1 4l4.25 4V0z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg fill='black' viewBox='0 0 8 8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.75 0L7 4l-4.25 4V0z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  background-color: rgba(255, 255, 255, 0.9);
  transition: background-color 0.2s ease;
}

.image-pair {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30rem;
  background: transparent;
  overflow: hidden;
}

.image-pair img {
  height: 100%;
  object-fit: contain;
  background-color: transparent;
  flex: 1 1 50%;
  max-width: 50%;
}

@media (max-width: 768px) {
  .image-pair {
    height: auto;
  }
  .image-pair img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}

.custom-carousel {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}
