@import url("colors.css");

footer {
  width: 100%;
  background-color: var(--grey-950);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--grey-900);
}

footer ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style: none;
  padding: 0;
}

footer strong {
  font-family: 'Bricolage Grotesque', sans-serif;
  color: cyan;
  font-weight: 400;
  padding-bottom: 0.5rem;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
