@import url("colors.css");

.project-tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.project-tags .tag {
  background-color: var(--la-blue-dark);
  color: var(--la-cyan-light);
  padding: 5px 12px;
  border-radius: 12px;
  font-size: 0.9rem;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.2s;
}

.project-tags .tag:hover {
  background-color: var(--la-cyan-light);
  color: var(--la-blue-dark) !important;
  font-weight: 900;
  transform: translateY(-2px);
}
