<div class="card h-100 shadow-sm">
    <div class="card-inner">
      <div class="card-front">
        <img src="assets/cucaCatch/CucaCatch-Gif.gif" class="card-img-top" alt="cucaCatch">
      </div>
      <div class="card-back">
        <h6>made at Apple Developer Academy</h6>
        <h5 class="card-title"><a href="projects/cucacatch.html" target="_self">Cuca Catch</a></h5>
        <p class="card-text">Gaming production from research to launching</p>
        <div class="project-tags">
          <a href="tags/ui-ux.html" class="tag">UI/UX</a>
          <a href="tags/product-design.html" class="tag">Product Design</a>
          <a href="tags/visual-design.html" class="tag">Visual Design</a>
          <a href="tags/game-design.html" class="tag">Game Design</a>
        </div>
      </div>
    </div>
  </div>
