<div class="card h-100 shadow-sm">
  <div class="card-inner">
    <div class="card-front">
      <img src="assets//riccch-ladies/AsRicccas_1_Small.jpg" class="card-img-top" alt="richLadies">
    </div>
    <div class="card-back">
      <h6>made at college</h6>
      <h5 class="card-title"><a href="../projects/riccch-ladies.html" target="_self">Riccch Ladies</a></h5>
      <p class="card-text">When Fashion meets Digital</p>
      <div class="project-tags">
        <a href="tags/illustration.html" class="tag">Illustration</a>
      </div>
    </div>
  </div>
</div>
