<div class="card h-100 shadow-sm">
  <div class="card-inner">
    <div class="card-front">
      <img src="../assets/strawberryPopsicles/GeladinhosDeMorango-Capa.png" class="card-img-top" alt="strawberryPopsicles">
    </div>
    <div class="card-back">
      <h6>made at college</h6>
      <h5 class="card-title"><a href="../projects/strawberryPopsicles.html" target="_self">Strawberry Popsicles</a></h5>
      <p class="card-text">An Illustration series</p>
      <div class="project-tags">
        <a href="tags/illustration.html" class="tag">Illustration</a>
      </div>
    </div>
  </div>
</div>
