<div class="card h-100 shadow-sm">
  <div class="card-inner">
    <div class="card-front">
      <img src="assets/descontos-library/descontoslibrary-cover.png" class="card-img-top" alt="decontosLibrary">
    </div>
    <div class="card-back">
      <h6>made at Bemobi</h6>
      <h5 class="card-title"><a href="projects/decontos-library.html" target="_self">Descontos Library</a></h5>
      <p class="card-text">Strategic Design Proposal for Whitelabel Ecosystem</p>
      <div class="project-tags">
        <a href="tags/branding.html" class="tag">UI/UX</a>
        <a href="tags/branding.html" class="tag">Product Design</a>
        <a href="tags/branding.html" class="tag">DesignOps</a>
      </div>
    </div>
  </div>
</div>