<div class="card h-100 shadow-sm">
  <div class="card-inner">
    <div class="card-front">
      <img src="assets/dodging-for-treasure/dodgingfortreasures_capa_edited.png" class="card-img-top" alt="dodgingForTreasure">
    </div>
    <div class="card-back">
      <h6>made at college</h6>
      <h5 class="card-title"><a href="projects/dodging-for-treasure.html" target="_self">Dodging for Treasure</a></h5>
      <p class="card-text">An arcade videogame</p>
      <div class="project-tags">
        <a href="tags/ui-ux.html" class="tag">UI/UX</a>
        <a href="tags/game-design.html" class="tag">Game Design</a>
      </div>
    </div>
  </div>
</div>
